<% var network_name_index = {}; %>

<% networks.sort( function( a, b ){
  var a_name = a.name.toLowerCase(),
      b_name = b.name.toLowerCase();

  if( a_name > b_name ) return 1;
  if( a_name < b_name ) return -1;

  return 0;
}); %>

<% ussd_codes.sort( function( a, b ){
  var a_type = a.type.toLowerCase(),
      b_type = b.type.toLowerCase();

  if( a_type !== 'info' && b_type == 'info' ) return 1;
  if( a_type == 'info' && b_type !== 'info' ) return -1;

  if( a_type == 'data' && b_type == 'data' ){
    var a_plan = parseInt( a.plan ),
        b_plan = parseInt( b.plan );

    if( a_plan > b_plan ) return 1;
    if( a_plan < b_plan ) return -1;

    var a_price = parseInt( a.price ),
        b_price = parseInt( b.price );

    if( a_price > b_price ) return 1;
    if( a_price < b_price ) return -1;
  }

  var a_network = a.network.toLowerCase(),
      b_network = b.network.toLowerCase();

  if( a_network > b_network ) return 1;
  if( a_network < b_network ) return -1;

  var a_name = a.name.toLowerCase(),
      b_name = b.name.toLowerCase();

  if( a_name > b_name ) return 1;
  if( a_name < b_name ) return -1;
}) %>
<!doctype html>
<html manifest="manifest.appcache">
  <head>
    <title>Naija USSD &bullet; Directory of Nigeria's USSD Codes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="img/webapp-logo.png">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/emoji.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <style type="text/css">

      <% networks.forEach( function( network ){ %>
        <% network_name_index[ network.network.toLowerCase() ] = network; %>

        #codes > .<%= network.network.toLowerCase() %>-code > .network {
          background-color: <%= network["primary-color"] %>;
          color: <%= network["secnodary-color"] %>;
        }
      <% }); %>
    </style>
  </head>
  <body>
    <div id="header">
      <div class="wordmark"><i class="em em-logo"></i> Naija USSD</div>
    </div>
    <div id="filters">
      <div class="title">Filter By Network</div>
      <div id="filter-categories">
        <span class="filter-category filter-category-network active">Network</span>
      </div>
      <div id="filter-subcategories">
        <% for( var id in network_name_index ) { %>
          <div class="filter-subcategory filter-subcategory-network filter-subcategory-network-<%= id %>">
            <input type="checkbox" value="<%= id %>" />
            <span class="label"><%= network_name_index[ id ].name %></span>
          </div>
        <% } %>
      </div>
    </div>
    <div id="codes">
      <% ussd_codes.forEach( function( details ){ %>
        <div class="code <%= details.network.toLowerCase() %>-code <%= details.type.toLowerCase() %>-code">
          <span class="network"><%= network_name_index[ details.network.toLowerCase() ].name %></span>
          <span class="name"><%= details.name %></span>
          <span class="actions">
            <span class="action fave">⭐</span>
            <a class="action dial" href="tel:<%= encodeURIComponent( details.code ) %>">📞</a>
          </span>
          <% if( details.type == "data" ){ %>
            <span class="description">
              <div class="description-detail">
                <span class="description-detail-key">Data</span>
                <% var numerified_data = parseInt( details.plan ); %>
                <span class="description-detail-value"><%= typeof numerified_data == 'number' && ! isNaN( numerified_data ) ? pretty_bytes( numerified_data * 1000 * 1000 ) : details.plan %></span>
              </div>
              <div class="description-detail">
                <span class="description-detail-key">Price</span>
                <span class="description-detail-value">₦<%= details.price %></span>
              </div>
              <div class="description-detail">
                <span class="description-detail-key">Expires</span>
                <span class="description-detail-value"><%= details.period %></span>
              </div>
              <div class="description-detail">
                <span class="description-detail-notes"><%= details.description %></span>
              </div>
            </span>
          <% } %>
        </div>
      <% }); %>
    </div>
    <script src="js/behavior.js"></script>
  </body>
</html>